<div class="row justify-content-end gy-0 gx-0">
    <img src="./assets/images/landing_light.svg" style="position: fixed; filter: blur(8px);" class="img-fluid col-md-8"
        alt="background">
</div>
<div style="height: 100vh" class="row gx-0 gy-0 justify-content-center align-items-center">
    <div class="col-md-6">
        <div class="card card-body">
            <legend class="mb-2">Log In</legend>
            <form class="row gy-3">
                <form-input class="mb-2" [inputModel]="form.controls['email']" name="email"
                    [errorMessage]="validationConstants.EMAIL"></form-input>
                <form-input class="mb-2" [inputModel]="form.controls['password']" name="password"
                    [errorMessage]="validationConstants.MIN_LENGTH | formatValidationMessage:'6'" [type]="'password'">
                </form-input>
                <dismissable-alert *ngIf="form.errors?.['message']" [text]="form.errors?.['message']"
                    (onDismiss)="form.setErrors(null)"></dismissable-alert>
                <div class="col-auto">
                    <submit-button [disabled]="form.invalid" [submitting]="submitting" (onSubmit)="onSubmit()">
                    </submit-button>
                </div>
            </form>
        </div>
    </div>
</div>