<h6>{{label}}</h6>
<loading-success-error [loading]="loading" [error]="!!error">
    <ng-template [lseContent]="'success'">
        <div class="row gx-0 mb-0">
            <div class="col-auto me-2">
                <p-multiSelect [options]="libraries" [(ngModel)]="currentLibraries" optionLabel="name"
                    defaultLabel="Select Libraries" selectedItemsLabel="{0} items selected" [maxSelectedLabels]="2">
                </p-multiSelect>
            </div>
            <div class="col-auto align-self-center">
                <submit-button classs="col align-self-center" [text]="'Update Libraries'"
                    (onSubmit)="onUpdateLibraries()" [submitting]="updating"></submit-button>
            </div>
        </div>
    </ng-template>
    <ng-template [lseContent]="'error'">
        <div class="text-danger">
            <centered-message [text]="error"></centered-message>
        </div>
    </ng-template>
</loading-success-error>