<app-header [title]="'Manage Users'"></app-header>
<div class="container col-md-8 mb-2">
    <search-bar [placeholder]="'Search by name'" (onSearch)="onSearch($event)" [queryString]="queryString"></search-bar>
</div>
<loading-success-error [loading]="$any(service.loading | async)" [error]="false">
    <ng-template [lseContent]="'success'">
        <div *ngIf="users.length else noUsers" class="container col-md-8">
            <app-user-card *ngFor="let user of users" [user]="user" (userEvent)="editUser($event)"></app-user-card>
            <pager [pageInfo]="pageInfo" (onPageChange)="onPageChange($event)"></pager>
        </div>
        <ng-template #noUsers>
            <centered-message [text]="'No users found'"></centered-message>
        </ng-template>
    </ng-template>
</loading-success-error>