<app-header [title]="'Manage Users'"></app-header>
<div class="container col-md-8">
    <div class="mb-2">
        <search-bar [placeholder]="'Search by name'"></search-bar>
    </div>
    <div *ngFor="let user of users" class="card mb-2 rounded-0">
        <div class="card-body">
            <div class="row">
                <div class="col-auto me-auto">
                    <div *ngIf="user.role == 'Admin' else notAdmin" class="row gx-2">
                        <div class="col-auto">
                            <fa-icon [icon]="faUserShield"></fa-icon>
                        </div>
                        <div class="col-auto">
                            <h5>{{user.firstName}} {{user.lastName}}</h5>
                        </div>
                    </div>
                    <ng-template #notAdmin>
                        <h5>{{user.firstName}} {{user.lastName}}</h5>
                    </ng-template>
                    <p>{{user.email}}</p>
                </div>
                <div *ngIf="user.role == 'User'" class="col-auto align-self-center">
                    <button *ngIf="user.blocked else notBlocked" class="btn btn-success me-2 rounded-0">Unblock</button>
                    <ng-template #notBlocked>
                        <button class="btn btn-danger me-2 rounded-0">Block</button>
                    </ng-template>
                    <button class="btn btn-primary rounded-0">Promote</button>
                </div>
            </div>
        </div>
    </div>
    <pager [pageInfo]="{currentPageNumber: 1, lastPageNumber: 2}"></pager>
</div>