<div class="container col-md-9 mb-3">
    <title-search-bar></title-search-bar>
</div>

<loading-success-error [loading]="pageLoading" [error]="!!errorMessage">
    <ng-template [lseContent]="'success'">
        <div *ngIf="books.length else emptyList">
            <div class="container col-md-9">
                <editable-book *ngFor="let book of books" [book]="book"></editable-book>
                <pager [pageInfo]="pageInfo" (onPageChange)="onPageChange($event)"></pager>
            </div>
        </div>
        <ng-template #emptyList>
            <div class="container mb-3">
                <centered-message [text]="'No books were found'"></centered-message>
            </div>
        </ng-template>
    </ng-template>

    <ng-template [lseContent]="'error'">
        <div class="text-danger">
            <centered-message [text]="errorMessage"></centered-message>
        </div>
    </ng-template>
</loading-success-error>