<app-header [title]="'Search Books'"></app-header>
<div class="container-md col-md-9">
    <books-search-bar></books-search-bar>
    <ordering-section></ordering-section>
    <loading-success-error [loading]="loading" [error]="!!errorMessage">
        <ng-template [lseContent]="'success'">
            <result-section></result-section>
        </ng-template>
        <ng-template [lseContent]="'error'">
            <div class="text-danger">
                <centered-message [text]="errorMessage"></centered-message>
            </div>
        </ng-template>
    </loading-success-error>
</div>