<loading-success-error [loading]="loading" [error]="!!error">
    <ng-template [lseContent]="'success'">
        <book-info [bookData]="bookData"></book-info>
    </ng-template>
    <ng-template [lseContent]="'error'">
        <div class="text-danger">
            <centered-message *ngIf="error != 404 else elseBlock" [text]="errorMessage"></centered-message>
            <ng-template #elseBlock>
                <img src="./assets/images/404.svg" alt="404" class="img-fluid">
            </ng-template>
        </div>
    </ng-template>
</loading-success-error>