<app-header [title]="'Edit Profile Information'"></app-header>
<div class="container">
    <loading-success-error [loading]="loading" [error]="error">
        <ng-template [lseContent]="'success'">
            <edit-profile-info [user]="user"></edit-profile-info>
        </ng-template>
        <ng-template [lseContent]="'error'">
            <div class="text-danger">
                <centered-message [text]="'Unable to fetch profile information'"></centered-message>
            </div>
        </ng-template>
    </loading-success-error>
</div>
<div class="mt-5">
    <app-header [title]="'Edit User Settings'"></app-header>
</div>
<div class="container">
    <loading-success-error [loading]="loading" [error]="error">
        <ng-template [lseContent]="'success'">
            <edit-user-settings [userSettings]="user.userSettings"></edit-user-settings>
        </ng-template>
        <ng-template [lseContent]="'error'">
            <div class="text-danger">
                <centered-message [text]="'Unable to fetch user settings'"></centered-message>
            </div>
        </ng-template>
    </loading-success-error>
    <div class="row justify-content-center">
        <div class="col-auto">
            <button class="btn btn-danger mt-4 mb-2" (click)="onLogOut()">Log Out</button>
        </div>
    </div>
</div>